/* definisco le classi che uso nel file HTML */
@font-face {
    font-family: 'EBGaramond-italic';
    src: url('/Font/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    /* Specifica altri formati del font se necessario */
  }
  
  body {
    font-family: 'EBGaramond-italic', serif;
    font-size: x-large ;
  }



  

.navbar {
    background-color: rgb(235 67 38) !important;
    opacity: 0.9;
    border-radius: 30px; /* Modifica il valore a tuo piacimento */
    padding: 0.5rem 1rem; /* Modifica lo spaziamento interno */
    
}

.navbar .nav-link{
    font-size: 25px ;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: black;
}

.navbar .nav-link[aria-current="page"]{
    font-weight: bold;
}

.dropdown-item[aria-current="page"]{
    font-weight: bold;
}


.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: black;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}

.dropdown-menu{
    font-size: 20px;
    background-color: rgb(235 67 38) !important;
}

.dropdown-menu a:hover{
    background-color: rgb(168, 40, 18);
}

.head-banner{ 
    background-color: #cda170;
    background-image: url('Image/ROCCA_MAIN.jpg');
    background-size: cover;
    background-position: center;
    /*
    "background-blend-mode: multiply;" è una regola CSS che imposta la modalità di fusione 
    per l'immagine di sfondo di un elemento HTML. 
    In particolare, la modalità di fusione "multiply" moltiplica i valori RGB 
    dell'immagine di sfondo con quelli dei contenuti sovrapposti, producendo 
    un effetto di fusione tra l'immagine di sfondo e i contenuti. 
    Questo può creare un effetto di scurimento o modifica dei colori dei contenuti 
    sovrapposti all'immagine di sfondo, a seconda dei colori presenti nell'immagine di sfondo stessa.
    */
    background-blend-mode: multiply;
    padding-top: 8rem;  /* il padding è lo spazio INTERNO al blocco, tra il contenuto del blocco e il bordo del blocco */
    padding-bottom: 8rem;
}

.titolo{
    color:white;
    text-shadow: 0px 0px 20px black(0, 0, 0, 0.5); 
    
}

.sezione-icone{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.ravenna-giallo{
    /* background-color: #e1cc42 !important; */
    /*background-color: rgb(209 210 110) !important;*/
    
    /* Imposta il gradiente lineare */
    background: linear-gradient(to bottom, #f5c957, #dbc230); /* Puoi modificare i colori a tuo piacimento */
    /* Per impostare un gradiente orizzontale invece di uno verticale, utilizza "to right" */
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
            
    /* Assicura che il gradiente copra l'intera pagina */
    
    margin: 0;

}

.sezione-immagini .immagine{
    min-height: 30rem;
    background-size: cover;
}

.sezione-immagini .testo{
    padding: 3rem;
}


.sezione-membri{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.presentazione-membro img{
    max-height: 200px;
}


/*
rem è unità di misura. Indica N volte il font radice utilizzato dentro l'elemento
NB  il font radice di un documento HTML ha un valore di default definito dal browser. 
Di solito, il valore predefinito del font radice (cioè il font utilizzato a livello più alto 
nell'albero DOM) è "16px" o "1rem". Questo significa che se non specificato diversamente, 
il font-size per l'intero documento HTML sarà di 16 pixel.
*/
@media screen and (min-width: 768px) {
    .head-banner{
        padding-top: 16rem; 
        padding-bottom: 12rem; 
    }

    .sezione-immagini .testo{
        padding: 7rem;
    }
    
}

@media (max-width: 768px){

    .headerTitle-chisiamo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1; /* Assicura che il testo sia sopra l'immagine */
        font-weight:100;
        background-color: #ae8f1e;
    }

    .headerImg-chisiamo{
        position: relative; /* Assicura che l'immagine abbia una posizione relativa per posizionare il testo sopra */
    }
}


.immagine-sinistra{

    margin-right: 30px;
    max-height: 200px;
    
}

.footer{
    padding-top: 4rem;
    padding-bottom: 1rem;
    background-color: rgb(173, 174, 104);
}
.list-inline-item{
    margin-right: 2rem;
}


.list-inline-item a{
    color: black;
}

.padding-globale{
    padding-left: 3rem;
    padding-right: 3rem;
}

.immagini-tagliate{
    width: 100%;
    height: 450px;
    object-fit: cover;
}


.rounded-image {
    position: relative;
    overflow: hidden;
    border-radius: 20px; /* Regola il raggio di arrotondamento dei bordi */
}



.rounded-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(27, 1, 1)); /* Sfumatura bianca trasparente */
}

.centroVert{
    display: flex;
    align-items: center;
}



.floreal-div{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative; /* Posizionamento relativo per consentire il posizionamento assoluto all'interno */

}
.floreal-div .linea{
    width: 100%; /* Larghezza massima */
    border-top: 5px solid rgb(144, 123, 90); /* Stile della linea */
    position: absolute;

}



.album{

}

.album .card{

    background-color: rgb(173, 174, 104);
}


#sezione-sostienici{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,rgba(54, 54, 20, 0.6), rgba(145, 146, 62, 0.6) ),
     url(Image/IA\ -\ Leoni\ Ravenna\ 01.jpeg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: circle(180vh at 50% -80vh);


}

#sezione-sostienici .contenuto{
    text-align: center;
    max-width: 1000px;
}

#sezione-sostienici .contenuto h2{
    font-size: 5rem;
    color:white;
    font-weight: 700;

}


/*
    Codice preso da Shape Divider App. Onde in alto, pagina architettura
*/
.custom-shape-divider-bottom-1713886559 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713886559 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 71px;
}

.custom-shape-divider-bottom-1713886559 .shape-fill {
    fill: #ae8f1e;
}

/*
    Codice preso da Shape Divider App. Onde in basso, pagina architettura
*/
.custom-shape-divider-top-1713887032 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1713887032 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 71px;
}

.custom-shape-divider-top-1713887032 .shape-fill {
    fill: #ae8f1e;
}

.header-dariusare{
    
    background-size: cover;
    background-position: center;
    padding-top: 7rem;
    padding-bottom: 18rem;
}